/* RESETS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.card-title {
  margin-top: .5em;
}

.card-text {
  margin: 1.5em 0;
  text-align: justify;
}

.tile-image {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.main {
  flex: 1;
}

/* HEADER */

.logo {
  width: 100px;
  height: 17.49px;
}

h1 {
  font-size: 3.5rem;
  margin: 37.52px 0;
  text-align: center;
}

.creative {
  color: #191970;
}

/* LEFT CARD */
.left {
  width: 100%;
}

/* RIGHT CARD */
.right {
  width: 100%;
}

footer {
  text-align: right;
  color: midnightblue;
  margin: 3em 0 1em;
}

/* DESKTOP */
@media screen and (min-width: 680px) {
  /* GENERAL/RESETS */
  /* cwot fixing right margin on body for desktop */
  body {
    margin-right: 20px;
  }

  .tile-image {
    max-width: 299px;
    float: left;
    margin-right: 50px;
  }

  /* HEADER */

  .logo {
    width: 263.01px;
    height: 46px;
  }

  h1 {
    font-size: 5rem;
    text-align: left;
  }

  .card {
    width: 45%;
  }

  /* LEFT CARD */
  .left {
    float: left;
  }
  /* RIGHT CARD */
  .right {
    float: right;
  }

  /* FOOTER */

}